.st1_gallery_box{

}

.st1_gallery_box .item{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 25px 25px 0;
    border: 4px solid #FFF;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    z-index: 1;
}
.st1_gallery_box .item img{
    cursor: pointer;
    display: block;
    position: absolute;
    max-height: 500px;
    max-width: 500px;
}